extends layout

block content
	div#espacioSuperior
		h1 #{title}
	div#contenedorPagina
		header#encabezado
			p Encabezado
		aside#aLaIzquierda
			p Izquierda
		section#contenidoPrincipal
			p Contenido Principal
		aside#aLaDerecha
			p Derecha
		footer#piePagina
			p Pie Pagina
